
tr:nth-child(odd) {
	background-color: #78A5C0;
}
tr {
	text-align: center;
}
tr:nth-child(even) {
	background-color: #00395B;
}
th {
	background-color: #FF95BC;
}
@font-face {
	font-family: "CaviarDreams";
	src: url("CaviarDreams.ttf");	
}
h1,.members {
	font-family: "CaviarDreams";
}
a:link {
	text-decoration: none;
	color: white;
}
a:visited {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: underline;
	background-color: blue;
}
a:active {
	text-decoration: none;
	color: white;
}
td {
	font-style: italic;
}